<h2>Bài 14 - Danh mục &amp; Sản phẩm (ngFor lồng nhau)</h2>

<div class="category" *ngFor="let cate of categories">
  <h3>{{ cate.CateName }} ({{ cate.Cateid }})</h3>

  <table border="1">
    <tr>
      <td>Ma San Pham</td>
      <td>Ten San Pham</td>
      <td>Gia San Pham</td>
      <td>Picture</td>
    </tr>
    <tbody *ngFor="let p of cate.Products">
      <tr>
        <td>{{ p.ProductId }}</td>
        <td>{{ p.ProductName }}</td>
        <td>{{ p.Price }}</td>
        <td>
          <img [src]="p.Image" width="50" height="50" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
